.HeaderPanel {
    width: 100vw;
    height: 8vh;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderPanel h1 {
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
    background: linear-gradient(90deg, rgba(255,169,0,1) 0%, rgba(69,174,73,1) 33%, rgba(0,142,236,1) 67%, rgba(236,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
