.Section {
    height: fit-content;
}

.Section h2, .Section h3 {
    margin-left: 5%;
}

.SectionCore {
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0 0.5vw;
    padding: 1vh 0;
    border-radius: 30px;
    background-color: white;
}